mixin checkbox()
	label.checkbox(class=attributes.class ? attributes.class : null)
		input.checkbox__control(
			type='checkbox'
			name=attributes.name ? attributes.name : null
			value=attributes.value ? attributes.value : null
			checked=attributes.checked ? attributes.checked : null
			disabled=attributes.disabled ? attributes.checked : null
		)

		span.checkbox__tick ☑

		block