mixin radio()
	label.radio(class=attributes.class ? attributes.class : null)
		input.radio__control(
			type='radio'
			name=attributes.name ? attributes.name : null
			value=attributes.value ? attributes.value : null
			checked=attributes.checked ? attributes.checked : null
			disabled=attributes.disabled ? attributes.checked : null
		)

		span.radio__tick 🔘

		block